.vacation-container {
  background-image: linear-gradient(rgba(255,255,255, 0.5), rgba(255,255,255, 0.5)), url("./Globe.jpg");
  background-position: center center fixed;
  background-size: cover;
  min-height: 100vh;
  width: 100%;
  z-index: -1;
  font: black;
}

.label-text {
  font-size: 20px;
  color: #230C0F;
  text-align: center;
  width: 50%;
  margin-left: 25%;
  margin-bottom: 0px;
}

h4 {
  font-size: 40px;
  font-family: Georgia,"Times New Roman",Times,serif;
  text-align: center;
}

@media all and (max-width: 1800px) {
  .tripDisplay-btn, .category-btn {
      font-size: 20px;
  }
  .hp-text {
    font-size: 60px;
  }
  .header-trip {
    font-size: 40px;
  }

}

@media all and (max-width: 1200px) {
  .tripDisplay-btn, .category-btn {
      font-size: 16px;
  }
  .hp-text {
    font-size: 50px;
  }
  .header-trip {
    font-size: 30px;
  }
  .dropdown-toggle{
    font-size: 30px;
  }
}


@media all and (max-width: 900px) {
  .hp-text {
    font-size: 40px;
  }
  .header-trip {
    font-size: 30px;
  }
.dropdown-toggle{
  font-size: 25px;
}
}

@media all and (max-width: 600px) {
  .hp-text {
    font-size: 30px;
  }
  .dropdown-toggle{
    font-size: 20px;
  }
}


