.modal-panel {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0, 0.8);
    padding: 20px;
  }


.login-panel {
    background-color: #fff;
    border-radius: 5;
    max-width: 400px;
    height: 700px;
    margin: 0 auto;
    padding: 20px;
}

