.modal-panel {
    position: fixed;
    height: 50%;
    width: 50%;
    margin: 0 auto;
    background-color: rgba(0,0,0, 0.8);
    padding: 20px;
    border-radius: 6px;
  }


.comments-panel {
    background-color: #fff;
    border-radius: 6px;
    max-width: 200px;
    height: auto;
    margin: 0 auto;
    padding: 20px;
}

