.profile-type-btn {
    background-color:  #26867B;
    font-size: 18px;
    height: 30px;
    width: 20%;
    margin-left: 3%;
    text-align: center;
    color: #230C0F;
    margin-bottom: 10px;
    border-radius: 6px; 
}   