.second-text {
    font-size: 30px;
    color: #757073;
    text-align: center;
}

.label-text {
    font-size: 20px;
    color: #757073;
    text-align: center;
    width: 50%;
    margin-left: 25%;
    margin-bottom: 0px;
}

.submit-btn {        
    
    font-size: 20px;
    height: 50px;
    margin-left: 15%;
    margin-bottom: 15px;
    width: 70%;
    padding: 0;
    color: #230c0f;
    background-color: #B5D8A0;

}