.trip-list-item{
    /* height: 400px; */
    list-style-type: none;
    width: 100%;
    font-size: 15px;
    background: #757073;
    /* overflow: scroll */
}

.trip-check {
    height: 20px;
    width: 20px;
    padding-right: 5px;
}

p  {
    font-size: 16px;
    color: #230C0F;
    text-align: center;
}