.trip-list-item{
    /* height: 400px; */
    list-style-type: none;
    width: 100%;
    font-size: 15px;
    background: white;
    /* overflow: scroll */
}

.trip-check {
    height: 20px;
    width: 20px;
    padding-right: 5px;
}