.header-panel{
    height: 100px;
    font-size: 15px;
    background: transparent;
    border-bottom: 1px solid black;
}

.hp-text {
    font-size: 60px;
    color: #230C0F;
    margin-left: -40%;
    vertical-align: auto;

}