.modal-panel {
    height: 80%;
    width: 80%;
    margin: 0 auto;
    background-color: rgba(0,0,0, 0.5);
    padding: 20px;
    border-radius: 6px;
  }


.fa-status-panel {
    background-color: #fff;
    border-radius: 6px;
    width: 95%;
    height: auto;
    margin: 0 auto;
    padding: 10px;
    font: #230C0F;
}

.faModal-close-btn {
    background-color: #26867B;
    font-size: 18px;
    height: 30px;
    width: 50%;
    margin-left: 25%;
    text-align: center;
    color: #230C0F;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
}

