.btn-submitform {
    background-color: transparent;
    color: grey;
    text-align: center;
    border: 2px solid black;
    width: 50%;
    height: 25px;
    line-height: .50;
    font-size: 16px;
  }