.category-btn {
    height: 15%;
    background-color: transparent;
    color:#230C0F;
    border: 2px solid #230C0F;
    width: 80%;
    margin-top:10%;
  
  }

  a {
    color: #230C0F;
  }

 .category-btn:hover {
   background-color: #B85D57;
   color: whitesmoke;
   transform: scale(1.05, 1.05);
 }