.home-page {
    width: 80%;
    font-size: 15px;
    margin-left: 10%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background:#B85D57;
    line-height: 1.5;
    border-radius: 6px;
    box-shadow: 5px 10px 6px rgb(65, 64, 64);
}

.signup-btn {        
    font-size: 20px;
    height: 40px;
    margin-left: 15%;
    margin-bottom: 15px;
    width: 70%;
    padding: 0;
    color: #230C0F;
    background-color:  #6E9CB6;
}