
.home-page {
    width: 80%;
    font-size: 15px;
    margin-left: 10%;
    height: 600px;
    margin-top: 10px;
    margin-bottom: 10px;
    background:#B85D57;
    border-left: 1px solid #ddd;
    line-height: 1.5;

}