
.profile-listItem {
    width: 80%;
    font-size: 15px;
    margin: 0 auto;
    height: 175px;
    overflow: scroll;
    margin-top: 10px;
    margin-bottom: 10px;
    background:#B85D57;
    border-left: 1px solid #ddd;
    line-height: 1.5;

}

.profileedit-btn {
    margin: 0 auto;
    background-color: #26867B;
    height: 30px;
    width: 20%;
    margin-left: 40%;
    text-align: center;
    color: #230C0F;
    margin-bottom: 10px;
    border-radius: 6px;

}
