.business-panel{
    height: auto;
    font-size: 15px;
    background: transparent;
    list-style: none;
    vertical-align: center;

}

.header-text {
    font-size: 15px;
}

.dropdown-toggle{
    font-size: 30px;
}