.profile-page {
    width: 95%;
    font-size: 15px;
    margin-left: 2.5%;
    /* height: 400px; */
    overflow: scroll;
    margin-top: 10px;
    background: green;
    border-left: 1px solid #ddd;

}