.profile-page {
    width: 95%;
    font-size: 15px;
    margin-left: 2.5%;
    height: auto;
    margin-top: 10px;
    background: rgb(238, 225, 209);
    border-top: 1px solid #230C0F;
    border-radius: 6px;
    box-shadow: 5px 10px 6px rgb(65, 64, 64);
}

.profile-btn {
    background-color: #6E9CB6;
    border-radius: 6px;
    font-size: 20px;
    height: 50px;
    margin-left: 20%;
    width: 60%;
    margin-bottom: 10px;
    padding: 0;
    color: #230c0f;
}

.header {
    font-size: 40px;
    color: #230C0F;
    text-align: center;
}
